.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*margin-top: 20px;*/
}

.pagination button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    margin: 0 5px;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination span {
    margin: 0 5px;
    font-size: 1rem;
    color: #555;
}
